.app-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      115deg,
      #fff1ff 48%,
      #f3533b 48% 55%,
      #fb7248 55%
    );
  }
  .all-container {
    height: 86vh;
    position: absolute;
    top: 80px;
    right: 30px;
    overflow-y: scroll;
    width: 100%;
  }