.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px;
    padding: 40px;
    justify-content: center;
   
}
.titulo{
    text-decoration: none;
   
}
@media (max-width: 560px) {
    .container{
        grid-template-columns: 100%;
    }
}